////
/// Main Variables File
/// This file defines the project variables.
/// @author Contextual Code
/// @access public
////

// Theme Colors
$blue: #0081c6;

// Default Colors
$white: #fff;
$black: #000;

// Font Variables
$text-header: 'Open Sans', Helvetica, Arial, sans-serif;
$text-body: 'Open Sans', Helvetica, Arial, sans-serif;

// Local font path
$custom-font-path: "fonts/"; // Put the path to your fonts folder here. This is relative to the compiled CSS file. This is required for leveraging the custom local fonts example in the 'fonts' partial.

// Override Variables
$text-color: $black; // Example