////
/// Basic Typography
/// @author Contextual Code
/// @access public
////

h1, .h1 {
  @include heading-xxlarge;
  color: $type--dark;
  font-family: $text-header;
}

h3, .h3 {
    @include size--base-4;
}

p {
  @include body;
  color: $type--medium;
  font-family: $text-body;
}
